/* CARD.STYL ======================================= */


.card-wrap
    flex-flow: column nowrap
    margin-bottom: 30px

    h1
        font-size: 13px
        font-weight: 400
        color: #424242
        margin-bottom: 20px

    h2
        font-size: 16px
        font-weight: 400
        color: #000

        &.gray
            color: #757575



    // card absolute buttons - show on card hover
    .card:hover .card__abs-bot
        opacity: 1

    .card
        background: #fff
        box-shadow(shadowLvl1)
        border-radius(2px)
        flexbox()
        flex-flow: column nowrap
        position: relative


        // Card Title and Card Button are managed in global.styl


        .card__section
            box-sizing()
            padding: 30px 20px
            flexbox()

            &.col
                flex-flow: column nowrap
            &.row
                flex-flow: row nowrap
            &.border
                border-bottom: 1px solid rgba(66, 66, 66, 0.15)
            &.border-top
                border-top: 1px solid rgba(66, 66, 66, 0.15)
            &.no-padding
                padding: 0



        .card-footer
            width: 100%
            flexbox()
            flex-flow: row nowrap
            justify-content: flex-end

            .btn--transparent:not(:last-child)
                margin-right: 20px


        .card__abs-bot
            position: absolute
            bottom: 10px
            right: 10px
            flexbox()
            background: colorWhite
            padding: 10px
            border-radius(5px)
            // card absolute buttons - invisible at the begining
            opacity: 0
            transition(.6s)

            &.row
                flex-flow: row nowrap

                .btn-icon
                    noselect()

                .btn-icon:not(:last-child)
                    margin-right: 14px

            &.col
                flex-flow: column nowrap




        // Card Row (left and right)
        .card-row
            flexbox()
            align-items: center
            min-height: 30px

            .card-row__left,
            .card-row__right,
            .card-row__center
                ellipsis()
                line-height: 16px

            .card-row__left
                min-width: 90px
                padding-right: 10px
                box-sizing()

            .card-row__center
                word-break: break-word
                white-space: normal


        // Card Col (top and bot)
        .card-col
            flexbox()
            flex-flow: column wrap
            align-items: flex-start
            line-height: 30px

            &:not(:last-child)
                margin-right: 30px

            .card-col__top,
            .card-col__bot,
            .card-col__center
                ellipsis()
                line-height: 16px

            .card-col__top
                margin-bottom: 10px
                color: colorDarkBlue

            .card-col__center
                word-break: break-word
                white-space: normal







/* Overwrite - Card header reduced padding */

.shared-with-me,
.my-shares,
.ssh-keys,
.custom-stacks,
.custom-domains

    .card .card__section
        padding: 20px


/* Overwrite - display fix for less items */
.main.shared-with-me,
.main.my-shares,
.main.ssh-keys,
.main.custom-stacks,
.main.custom-domains,
.main.refer-friend
    .main__row
        width: 100%
        display: block

        .main__row-item
            display: inline-block

            &:nth-child(2n)
                margin-left: 25px

.main.custom-domains
    .main__row .main__row-item:nth-child(2n)
        margin-left: 0