/* CARD.STYL ======================================= */


.card-wrap
    flex-flow: column nowrap
    margin-bottom: 30px

    h1
        font-size: 13px
        font-weight: 400
        color: #424242
        margin-bottom: 20px

    h2
        font-size: 16px
        font-weight: 400
        color: #000

        &.gray
            color: #757575

    .card
        background: #fff
        box-shadow(shadowLvl1)
        border-radius(2px)
        flexbox()
        flex-flow: column nowrap
        position: relative

        .card__section
            box-sizing()
            padding: 30px 20px
            flexbox()

            &.col
                flex-flow: column nowrap
            &.row
                flex-flow: row nowrap
            &.border
                border-bottom: 1px solid rgba(66, 66, 66, 0.15)
            &.border-top
                border-top: 1px solid rgba(66, 66, 66, 0.15)
            &.no-padding
                padding: 0



        .card-footer
            width: 100%
            flexbox()
            flex-flow: row nowrap
            justify-content: flex-end

            .btn--transparent:not(:last-child)
                margin-right: 20px


        .card__abs-bot
            position: absolute
            bottom: 20px
            right: 20px
            flexbox()

            &.row
                flex-flow: row nowrap

                .btn-icon:not(:last-child)
                    margin-right: 14px

            &.col
                flex-flow: column nowrap
        
