/* DIALOG-PLANS.STYL ======================================= */

.pricing-plans .dialog
    min-width: 1000px
    padding: 30px 30px 20px 30px

.plans
    flexbox()
    flex-flow: row nowrap
    justify-content: space-between

    .plans-item
        box-sizing()
        padding: 20px 10px
        border: 1px solid colorPurple
        border-radius(2px)
        text-align: center
        width: 180px

        .plans-item__title
            color: colorPurple
            font-size: 20px
            font-weight: 400
        .plans-item__price
            color: colorPurple
            font-size: 50px
            font-weight: 100
            margin: 40px 0 30px 0
        .plans-item__billing
            color: colorGray2
            font-size: 12px
            font-weight: 100
            line-height: 15px
            height: 34px
        .plans-item__button
            flexbox()
            flex-center()
            color: colorDarkGray
            font-size: 18px
            font-weight: 600
            margin: 30px 0
            height: 34px
        .plans-item__features
            color: colorGray2
            font-size: 12px
            font-weight: 100
            line-height: 15px
            text-align: left

            ul 
                padding-left: 15px
                li
                    list-style-type: circle
                    display: list-item
                    margin-bottom: 5px
