/* BUTTON.STYL ======================================= */

/* Button 1 ========================== */
.btn
	margin: 0 auto
	padding: 5px 20px
	border: 1px solid colorBlue
	color: colorBlue
	background: colorWhite
	font-size: 14px
	font-weight: 100
	transition(.7s)

	&:hover
		background: colorBlue
		color: colorWhite


