/* BUTTON.STYL ======================================= */


/* Button PURPLE ========================== */
.btn--purple
	background: colorPurple
	color: colorWhite !important
	border-radius: 5px
	transition(.7s)

	&:hover
		background: colorDarkPurple




/* Button RED ========================== */
.btn--red
	background: colorRed
	color: colorWhite !important
	border-radius: 5px
	transition(.7s)

	&:hover
		background: colorDarkRed



/* Button ICONS ========================== */
.btn-icon
	width: 24px
	height: 24px
	cursor: pointer
	z-index: 1

	svg
		fill: colorGray2
		transition(.2s)

		&:hover
			fill: colorGray2-05
