/* INPUT.STYL ======================================= */


// Search
.input-search
    margin: 0
    box-sizing()
    padding: 0 20px 0 40px
    outline: none
    border: none
    width: 100%
    height: 100%
    background: #e0e0e0
    background: url(../images/find.png) no-repeat rgba(224, 224, 224, 0.5)
    background-size: 20px
    background-position: 10px 14px
