/* INPUT.STYL ======================================= */


// Search
.input-search
    margin: 0
    box-sizing()
    padding: 0 20px 0 40px
    outline: none
    border: none
    width: 100%
    height: 100%
    background: #e0e0e0
    background: url(../images/find.png) no-repeat rgba(224, 224, 224, 0.5)
    background-size: 20px
    background-position: 10px 14px






/* Responsive text below input */
.response-text:empty
    visibility: hidden

.response-text
    font-weight: defaultWeight
    color: colorRed
    font-size: fontSize1
    position: relative
    margin-top: 5px
    height: 16px



/* MUI INPUT 1 ======================================= */
.mui-input
    flexbox()
    justify-content: flex-end
    align-items: center
    flex-flow: column wrap
    width: 100%
    height: 92px
    box-sizing()
    /* padding: 0 16px 10px 16px */
    padding-bottom: 10px
    position: relative

    
    /* Error message */
    .error-msg,
    .error
        position: absolute
        width: 100%
        color: colorRed
        font-size: 12px
        margin-top: 18px
    
    .error-msg:empty,
    .error:empty
        visibility: hidden

    
    .group
        position: relative 
        width: 100%


        input
            font-size: 14px
            padding: 10px 10px 10px 5px
            box-sizing()
            display: block
            width: 100%
            border: none
            border-bottom: 1px solid colorPurple
            background:  transparent
            text-decoration: none

        input:focus
            outline: none
            background:  transparent
            



        /* LABEL ========== */
        label 
            font-size: 14px
            font-weight: normal
            position: absolute
            pointer-events: none
            left: 5px
            top: 10px
            transition: 0.2s ease all



        /* active state */
        input:focus ~ label,
        input:valid ~ label
            top: -10px
            color: colorDarkPurple
            font-size: 11px
            font-weight: 300
            letter-spacing: 0.2px
            


        /* BOTTOM BARS ========== */
        .bar
            position: relative
            display: block
            width: 100%

        .bar:before,
        .bar:after
            content: ''
            height: 2px 
            width: 0
            bottom: 0 
            position: absolute
            background: colorPurple
            transition: 0.2s ease all

        .bar:before
            left: 50%

        .bar:after
            right: 50% 
                

        /* active state */
        input:focus ~ .bar:before,
        input:focus ~ .bar:after
            width: 50%



/* MUI INPUT 2 ======================================= */
.mui-input2
    flexbox()
    flex-flow: column nowrap

    label
        color: color4
        font-size: 11px
        font-weight: 300
        letter-spacing: 0.2px

    input
        font-size: 14px
        text-decoration: none
        padding: 10px 10px 10px 5px
        box-sizing()
        display: block
        width: 100%
        border: none
        border-bottom: 1px solid color13

    .bar
        width: 100%
        height: 1px
        background: color4







/* TEXTAREA STYL ======================================= */
.mui-textarea
    flexbox()
    justify-content: center
    flex-flow: column wrap
    width: 100%
    box-sizing()
    /* padding: 10px 16px */
    padding: 10px 0

    label
        font-size: 11px
        font-weight: normal
        position: relative
        pointer-events: none

    textarea
        font-size: 14px
        padding: 10px 10px 10px 5px
        color: color4
        box-sizing()
        display: block
        width: 100%
        border: none
        outline: none
        background: transparent
        resize: none
        border-bottom: 1px solid color13
        min-height: 100px;
        text-decoration: none
        margin-top: 5px









