/* SELECT.STYL ======================================= */

.mui-select
    flexbox()
    flex-flow: column nowrap
    margin-top: 48px

    select
        border: none
        width: 100%
        height: 33px
        background: transparent
        font-family: font1
        font-size: 14px
        color: colorDarkGray
        text-decoration: none
        padding: 10px 10px 10px 5px
        position: relative
        cursor: pointer
        outline: none

        /* arrow remove
        -webkit-appearance: none
        -moz-appearance: none
        -o-appearance: none
        appearance: none

        &::-ms-expand
            display: none  */

    .bar
        display: block
        width: 100%
        height: 1px 
        position: relative
        background: colorPurple