/* MAIN.STYL ======================================= */

/* import base styl */
@import 'base/normalize'
@import 'base/colorPalete'
@import 'base/mixins'
@import 'base/variables'
@import 'base/global'

/* import elements styl */
@import 'elements/input'
@import 'elements/button'
@import 'elements/checkbox'
@import 'elements/toggle'
@import 'elements/counter'

/* import groups styl */
@import 'groups/main-nav'
@import 'groups/forms'
@import 'groups/articles'

/* import sections styl */
@import 'sections/header'
@import 'sections/body'
@import 'sections/content'
@import 'sections/side-nav'

/* import views styl */
@import 'views/index'









