!!! 5
%html
  %head
    %title Codeanywhere Dashboard

    %meta(charset="utf-8")
    %meta(name="description" content="")
    %meta(name="author" content="")
    %meta(name="keywords" content="Codeanywhere, Dashboard, CA, Editor")
    %meta(id="meta" name="viewport" content="width=device-width; initial-scale=1.0, maximum-scale=1.0")

    %link(rel="stylesheet" href="css/main.css")
    %link(rel="stylesheet" href="css/query.css")
    / Fonts
    %link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=latin-ext")

    %script(type="text/javascript" src="js/script.js")

  %body
    //header
    #header
      .container
        .header
          .header__dashboard
            %a(href="#") Dashboard
          .header__search
            %input.input-search(placeholder="Search")
          .header__user

    #body
      //Side Nav
      %nav.side-nav
        %ul
          %li
            %a.side-nav-link.account.active(href="#") Account
          %li
            %a.side-nav-link.billing(href="#") Billing
          %li
            %a.side-nav-link.projects(href="#") Projects
          %li
            %a.side-nav-link.shared-with-me(href="#") Shared with me
          %li
            %a.side-nav-link.my-shares(href="#") My shares
          %li
            %a.side-nav-link.ssh-keys(href="#") SSH keys
          %li
            %a.side-nav-link.custom-stacks(href="#") Custom stacks
          %li
            %a.side-nav-link.custom-domains(href="#") Custom domains
          %li
            %a.side-nav-link.refer-friend(href="#") Refer a friend





      //MAIN SECTION - ACCOUNT ***********************************
      .main.account.show-flex
        .main__col2

          //ACCOUNT INFORMATION ================
          .card-wrap
            %h1 Account information
            .card.information
              .card__section.col

                //user
                .user
                  .user__image
                    %img(src="images/avatar.png")
                    %a(href="#") Edit photo
                  .user__details
                    .user__name
                      %span.title--large Mate Lopata
                    .user__email
                      %span mate.lopata@gmail.com
                    .user__company
                      %span Codeanywhere
                //user-details
                .user-details
                  .input-wrap.first-name
                  .input-wrap.last-name
                  .input-wrap.company

              .card__section.col.border-top
                .email
                  %span.title--gray Update email address
                  .input-wrap.new-email
                  .input-wrap.repeat-email

              .card__section
                .card-footer
                  .card__button
                    %a(href="#") Cancel
                  .card__button
                    %a(href="#") Save


          //CONNECTED ACCOUNTS ================
          .card-wrap
            %h1 Connected accounts
            .card.accounts
              .card__section.col.no-padding

                //account-item GITHUB
                .acc-item.github

                  .acc-item__acc
                    .acc-item__image
                      %img(src="images/accounts/github.png")
                    .acc-item__name
                      Github
                    .acc-item__button
                      %a.pink(href="#") Connect

                  .acc-item__list
                    %div
                      .acc-item__name
                        mate.lopata@gmail.com
                      .acc-item__button
                        %a.pink(href="#") Disconnect
                    %div
                      .acc-item__name
                        mate.lopata123@gmail.com
                      .acc-item__button
                        %a.pink(href="#") Disconnect


                //account-item BITBUCKET
                .acc-item.bitbucket

                  .acc-item__acc
                    .acc-item__image
                      %img(src="images/accounts/github.png")
                    .acc-item__name
                      Github
                    .acc-item__button
                      %a.pink(href="#") Connect


                //account-item DIGITAL OCEAN
                .acc-item.digitalocean

                  .acc-item__acc
                    .acc-item__image
                      %img(src="images/accounts/github.png")
                    .acc-item__name
                      Github
                    .acc-item__button
                      %a.pink(href="#") Connect


                //account-item GOOGLE
                .acc-item.google

                  .acc-item__acc
                    .acc-item__image
                      %img(src="images/accounts/github.png")
                    .acc-item__name
                      Github
                    .acc-item__button
                      %a.pink(href="#") Connect


                //account-item FACEBOOK
                .acc-item.facebook

                  .acc-item__acc
                    .acc-item__image
                      %img(src="images/accounts/github.png")
                    .acc-item__name
                      Github
                    .acc-item__button
                      %a.pink(href="#") Connect


                //account-item ONEDRIVE
                .acc-item.onedrive

                  .acc-item__acc
                    .acc-item__image
                      %img(src="images/accounts/github.png")
                    .acc-item__name
                      Github
                    .acc-item__button
                      %a.pink(href="#") Connect

                  .acc-item__list
                    %div
                      .acc-item__name
                        mate.lopata@gmail.com
                      .acc-item__button
                        %a.pink(href="#") Disconnect
                    %div
                      .acc-item__name
                        mate.lopata123@gmail.com
                      .acc-item__button
                        %a.pink(href="#") Disconnect




        .main__col2

          //PROFILE COMPLETION ================
          .card-wrap
            %h1 Profile completion
            .card.profile
              .card__section.row

                //graph
                .graph
                  .graph__circle-out
                  .graph__circle-in
                    70%

                //steps
                .steps
                  %h2.gray Follow these steps to complete your profile:
                  %ul
                    %li Create new container
                    %li Add 3rd party service
                    %li Buy premium account
                    %li Report error


          //NEED MORE RESOURCES ================
          .card-wrap
            %h1 Need more resources?
            .card.resources
              .card__section.col

                //resource containers
                .resource.containers
                  .resource__top
                    .resource__bar
                  .resource__bot
                    .resource__num
                      2/4
                    .resource__name
                      Containers

                //resource remote connections
                .resource.remote
                  .resource__top
                    .resource__bar
                  .resource__bot
                    .resource__num
                      4/4
                    .resource__name
                      Remote Connections

              .card__section
                .card-footer
                  .card__button
                    %a.btn--purple(href="#") Upgrade



          //CHANGE PASSOWRD ================
          .card-wrap
            %h1 Change passowrd?
            .card.password
              .card__section.col
                .input-wrap.old-pass
                .input-wrap.new-pass
                .input-wrap.repeat-pass

              .card__section
                .card-footer
                  .card__button
                    %a(href="#") Change




          //DELETE YOUR ACCOUNT ================
          .card-wrap
            %h1 Delete your account?
            .card.delete
              .card__section.col
                %span This action is permanent and cannot be undone!
                %p Are you sure?

              .card__section
                .card-footer
                  .card__button
                    %a.btn--red(href="#") Delete














      //MAIN SECTION - BILLING ***********************************
      .main.billing.hide
        .main__col2

          //SUBSCRIPTIONS ================
          .card-wrap
            %h1 Subscriptions
            .card.subscription
              .card__section.row

                //plan left
                .plan-main
                  .plan__name
                    Yearly bussiness plan
                  .plan__total
                    $480.00 USD

                //plan right
                .plan-details
                  .plan-details-row
                    .plan-name Status:
                    .plan-value canceled

                  .plan-details-row
                    .plan-name Quantity:
                    .plan-value 1

                  .plan-details-row
                    .plan-name Start date:
                    .plan-value dec 23, 2015

                  .plan-details-row
                    .plan-name Invoice ID:
                    .plan-value 28582

                  .plan-details-row
                    .plan-name Recuring date:
                    .plan-value Dec 23, 2020



          //MANAGE ACCOUNTS ================
          .card-wrap
            %h1 Manage accounts
            .card.manage-accounts
              .card__section.col

                //manage accounts - TH
                .manage-accounts-row
                  .manage-accounts__name
                    %span email
                  .manage-accounts__col
                    %span container <br> always on
                  .manage-accounts__col
                    %span unlimited <br> revisions
                  .manage-accounts__col
                    %span additional 15 remote connections
                  .manage-accounts__delete


                //manage accounts - item1
                .manage-accounts-row
                  .manage-accounts__name
                    testaccount@codeanywhere.com
                  .manage-accounts__col
                    .counter
                      .counter__top
                        %svg(height="100%" viewbox="0 0 24 24" width="100%" xmlns="http://www.w3.org/2000/svg")
                          %path(d="M8 5v14l11-7z")
                      .counter__mid
                        0
                      .counter__bot
                        %svg(height="100%" viewbox="0 0 24 24" width="100%" xmlns="http://www.w3.org/2000/svg")
                          %path(d="M8 5v14l11-7z")
                  .manage-accounts__col
                    .counter
                      .counter__top
                        %svg(height="100%" viewbox="0 0 24 24" width="100%" xmlns="http://www.w3.org/2000/svg")
                          %path(d="M8 5v14l11-7z")
                      .counter__mid
                        0
                      .counter__bot
                        %svg(height="100%" viewbox="0 0 24 24" width="100%" xmlns="http://www.w3.org/2000/svg")
                          %path(d="M8 5v14l11-7z")
                  .manage-accounts__col
                    .counter
                      .counter__top
                        %svg(height="100%" viewbox="0 0 24 24" width="100%" xmlns="http://www.w3.org/2000/svg")
                          %path(d="M8 5v14l11-7z")
                      .counter__mid
                        0
                      .counter__bot
                        %svg(height="100%" viewbox="0 0 24 24" width="100%" xmlns="http://www.w3.org/2000/svg")
                          %path(d="M8 5v14l11-7z")
                  .manage-accounts__delete
                    %svg(height="100%" viewbox="0 0 24 24" width="100%" xmlns="http://www.w3.org/2000/svg")
                      %path(d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z")



                //manage accounts - item2
                .manage-accounts-row
                  .manage-accounts__name
                    testaccount@codeanywhere.com
                  .manage-accounts__col
                    .counter
                      .counter__top
                        %svg(height="100%" viewbox="0 0 24 24" width="100%" xmlns="http://www.w3.org/2000/svg")
                          %path(d="M8 5v14l11-7z")
                      .counter__mid
                        0
                      .counter__bot
                        %svg(height="100%" viewbox="0 0 24 24" width="100%" xmlns="http://www.w3.org/2000/svg")
                          %path(d="M8 5v14l11-7z")
                  .manage-accounts__col
                    .counter
                      .counter__top
                        %svg(height="100%" viewbox="0 0 24 24" width="100%" xmlns="http://www.w3.org/2000/svg")
                          %path(d="M8 5v14l11-7z")
                      .counter__mid
                        0
                      .counter__bot
                        %svg(height="100%" viewbox="0 0 24 24" width="100%" xmlns="http://www.w3.org/2000/svg")
                          %path(d="M8 5v14l11-7z")
                  .manage-accounts__col
                    .counter
                      .counter__top
                        %svg(height="100%" viewbox="0 0 24 24" width="100%" xmlns="http://www.w3.org/2000/svg")
                          %path(d="M8 5v14l11-7z")
                      .counter__mid
                        0
                      .counter__bot
                        %svg(height="100%" viewbox="0 0 24 24" width="100%" xmlns="http://www.w3.org/2000/svg")
                          %path(d="M8 5v14l11-7z")
                  .manage-accounts__delete
                    %svg(height="100%" viewbox="0 0 24 24" width="100%" xmlns="http://www.w3.org/2000/svg")
                      %path(d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z")



                //manage accounts - item3
                .manage-accounts-row
                  .manage-accounts__name
                    testaccount@codeanywhere.com
                  .manage-accounts__col
                    .counter
                      .counter__top
                        %svg(height="100%" viewbox="0 0 24 24" width="100%" xmlns="http://www.w3.org/2000/svg")
                          %path(d="M8 5v14l11-7z")
                      .counter__mid
                        0
                      .counter__bot
                        %svg(height="100%" viewbox="0 0 24 24" width="100%" xmlns="http://www.w3.org/2000/svg")
                          %path(d="M8 5v14l11-7z")
                  .manage-accounts__col
                    .counter
                      .counter__top
                        %svg(height="100%" viewbox="0 0 24 24" width="100%" xmlns="http://www.w3.org/2000/svg")
                          %path(d="M8 5v14l11-7z")
                      .counter__mid
                        0
                      .counter__bot
                        %svg(height="100%" viewbox="0 0 24 24" width="100%" xmlns="http://www.w3.org/2000/svg")
                          %path(d="M8 5v14l11-7z")
                  .manage-accounts__col
                    .counter
                      .counter__top
                        %svg(height="100%" viewbox="0 0 24 24" width="100%" xmlns="http://www.w3.org/2000/svg")
                          %path(d="M8 5v14l11-7z")
                      .counter__mid
                        0
                      .counter__bot
                        %svg(height="100%" viewbox="0 0 24 24" width="100%" xmlns="http://www.w3.org/2000/svg")
                          %path(d="M8 5v14l11-7z")
                  .manage-accounts__delete
                    %svg(height="100%" viewbox="0 0 24 24" width="100%" xmlns="http://www.w3.org/2000/svg")
                      %path(d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z")

              .card__section.row.border-top
                .card-footer
                  .card__button
                    %a(href="#") Add account




          //ADDONS ================
          .card-wrap
            %h1 Addons
            .card.addons
              .card__section.col

                //manage accounts - TH
                .manage-accounts-row
                  .manage-accounts__name
                    %span Addon name
                  .manage-accounts__col
                    %span Quantity
                  .manage-accounts__col
                    %span Assign
                  .manage-accounts__col
                    %span Unassign


                //manage accounts - item1
                .manage-accounts-row
                  .manage-accounts__name
                    Unlimited revisions
                  .manage-accounts__col
                    1
                  .manage-accounts__col
                    1
                  .manage-accounts__col
                    1


                //manage accounts - item2
                .manage-accounts-row
                  .manage-accounts__name
                    Container always on
                  .manage-accounts__col
                    15
                  .manage-accounts__col
                    15
                  .manage-accounts__col
                    15


                //manage accounts - item3
                .manage-accounts-row
                  .manage-accounts__name
                    Account licence
                  .manage-accounts__col
                    4
                  .manage-accounts__col
                    3
                  .manage-accounts__col
                    2


                //manage accounts - item4
                .manage-accounts-row
                  .manage-accounts__name
                    Additional 15 remote connections
                  .manage-accounts__col
                    105
                  .manage-accounts__col
                    498
                  .manage-accounts__col
                    99




                //manage accounts - item5
                .manage-accounts-row
                  .manage-accounts__name
                    Additional 15 custom domains
                  .manage-accounts__col
                    105
                  .manage-accounts__col
                    498
                  .manage-accounts__col
                    99





        .main__col2

          //BILLING INFORMATIONS ================
          .card-wrap
            %h1 Billing informations
            .card.billing-information
              .card__section.col

                .billing-information__name
                  Mate Lopata

                .billing-information__card
                  XXXX-1223 (MasterCard)



          //INVOICES ================
          .card-wrap
            %h1 Invoices
            .card.invoices
              .card__section.col


                //manage accounts - TH
                .manage-accounts-row
                  .manage-accounts__col
                    %span Number
                  .manage-accounts__col
                    %span Billed on
                  .manage-accounts__col
                    %span Due on
                  .manage-accounts__col
                    %span Status
                  .manage-accounts__name
                    %span Total


                //manage accounts - item1
                .manage-accounts-row
                  .manage-accounts__col
                    28582
                  .manage-accounts__col
                    Dec 24, 2017
                  .manage-accounts__col
                    Dec 24, 2018
                  .manage-accounts__col
                    paid
                  .manage-accounts__name
                    $(-480.00) USD


                //manage accounts - item1
                .manage-accounts-row
                  .manage-accounts__col
                    28541
                  .manage-accounts__col
                    Jul 14, 2016
                  .manage-accounts__col
                    Dec 24, 2015
                  .manage-accounts__col
                    paid
                  .manage-accounts__name
                    $480.00 USD


                //manage accounts - item1
                .manage-accounts-row
                  .manage-accounts__col
                    28582
                  .manage-accounts__col
                    Dec 24, 2015
                  .manage-accounts__col
                    Dec 24, 2014
                  .manage-accounts__col
                    paid
                  .manage-accounts__name
                    $240.00 USD






          //2-FACTOR AUTENTIFICATION ================
          .card-wrap
            %h1 2-Factor Autentification
            .card.two-factor
              .card__section.row
                .two-factor__txt
                  Enable 2-Factor Authentification
                .two-factor__btn














%script(src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript")
%script(src="js/myscript.js" type="text/javascript")