<div class="card-wrap">
  <h1>Subscriptions</h1>
  <div class="card subscription">
    <div class="card__section row">
      <div class="sub-wrap">
        <!--/plan left -->
        <div class="sub">
          <div class="sub__name">
            {{subscription-name}}
          </div>
          <div class="sub__total">
            {{subscription-total}}
          </div>
          <div class="sub__total-desc">
            Total Cost
          </div>
        </div>
        <!--/plan right -->
        <div class="sub">
          <div class="sub-row">
            <div class="sub__item">Status:</div>
            <div class="sub__value">{{subscription-status}}</div>
          </div>
          <div class="sub-row">
            <div class="sub__item">Quantity:</div>
            <div class="sub__value">{{subscription-quantity}}</div>
          </div>
          <div class="sub-row">
            <div class="sub__item">Start date:</div>
            <div class="sub__value">{{subscription-start-date}}</div>
          </div>
          <div class="sub-row">
            <div class="sub__item">Invoice ID:</div>
            <div class="sub__value">{{subscription-id}}</div>
          </div>
          <div class="sub-row">
            <div class="sub__item">Recuring date:</div>
            <div class="sub__value">{{subscription-recuring-date}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
