<div class="card-wrap">
  <h1>2-Factor Autentification</h1>
  <div class="card two-factor">
    <div class="card__section row">
      <div class="two-factor__txt">
        Enable 2-Factor Authentification
      </div>
      <div class="two-factor__btn">
        <div class="switch">
          <input class="toggle toggle-round" id="toggle-1" type="checkbox"></input>
          <label for="toggle-1"></label>
        </div>
      </div>
    </div>
  </div>
</div>
