/* ACCOUNT.STYL ======================================= */



.main.account
    flexbox()
    flex-flow: row nowrap


    .card.information,
    .card.password
        .card__section:last-child
            padding: 20px



    /* ACCOUNT INFORMATION - user */
    .user
        flexbox()
        flex-flow: row nowrap

        .user__image
            width: 130px
            flexbox()
            flex-flow: column nowrap
            align-items: center

            img
                border-radius(50%)
                width: 100%

            a
                color: #757575
                font-size: 16px

        .user__details
            flexbox()
            flex-flow: column nowrap
            flex: 1


        .user__name,
        .user__email,
        .user__company
            font-size: 16px
            color: #000
            margin-bottom: 12px



    /* ACCOUNT INFORMATION - input wrap */
    .user-details,
    .email,
    .password
        .input-wrap
            box-sizing()
            padding: 0 30px



    /* CONNECTED ACCOUNTS - acc-item */
    .acc-item
        flexbox()
        flex-flow: column nowrap
        box-sizing()
        padding: 10px 20px
        border-bottom: 1px solid rgba(66, 66, 66, 0.15)

        &:first-child
            padding-top: 30px
        &:last-child
            padding-bottom: 30px

        .acc-item__acc
            flexbox()
            flex-flow: row nowrap
            align-items: center
            margin-bottom: 10px

        .acc-item__image
            width: 30px

        .acc-item__name
            flex: 1

        .acc-item__button
            color: colorPurple
            text-transform: uppercase

            &:hover
                color: colorBlack



        .acc-item__list
            flexbox()
            flex-flow: column nowrap

            div
                flexbox()
                flex-flow: row nowrap
                margin-top: 7px




    /* PROFILE COMPLETION - graph & steps */
    .graph
        min-width: 126px
        flexbox()
        flex-center()

        .graph__circle-in
            color: colorPurple
            font-size: 40px
            font-weight: 600




    .steps ul
        margin-top: 20px

        li
            margin-bottom: 20px
            flexbox()
            flex-flow: row nowrap
            align-items: center
            color: colorGray

            &:before
                width: 20px
                height: 20px
                display: block
                content: ''
                background: url(../images/find.png) center no-repeat
                background-size: 20px
                margin-right: 10px

            &:last-child
                margin-bottom: 0


/* NEED MORE RESOURCES - bars */
.resource
    flexbox()
    flex-flow: column nowrap
    width: 100%
    margin-top: 20px

    /* Top */
    .resource__top
        padding: 5px 0

        .resource__bar
            width: 100%
            height: 5px
            background: colorToggleBtnPassive

    /* Bot */
    .resource__bot
        width: 100%
        flexbox()
        flex-flow: row nowrap
        justify-content: space-between
        align-items: center
        font-size: 12px

        .resource__num.green
            color: colorGreen
        .resource__num.yellow
            color: colorYellow
        .resource__num.orange
            color: colorRed
        .resource__num.red
            color: colorDarkRed

        .resource__name
            color: colorGray2








    /* DELETE YOUR ACCOUNT */
    .card.delete

        span,
        p
            font-size: 16px
            font-weight: 400

        span
            color: colorGray2-05
            font-style: italic
        p
            color: colorGray2
            margin-top: 30px

