/* ACCOUNT.STYL ======================================= */



.main.account
    flexbox()
    flex-flow: row nowrap

    .card.information
        cursor: pointer

    .card.information,
    .card.password
        .card__section:last-child
            padding: 20px

    //user details - section padding-top removed 
    #user-details-wrap .card__section.col:first-child
        padding: 0 20px 30px 20px
        margin-top: -30px

    /* ACCOUNT INFORMATION - user */
    .user
        flexbox()
        flex-flow: row nowrap

        .user__image
            width: 130px
            flexbox()
            flex-flow: column nowrap
            align-items: center
            margin-right: 10px

            img
                border-radius(50%)
                width: 100%

            a.edit-photo
                color: colorGray2
                font-size: 16px
                margin-top: 10px
                transition(.2s)
                cursor: pointer

        .user__image:hover a.edit-photo
            color: colorPurple


        .user__details
            flexbox()
            flex-flow: column nowrap
            flex: 1


        .user__name,
        .user__email,
        .user__company
            font-size: 16px
            color: colorBlack
            margin-bottom: 12px



    /* ACCOUNT INFORMATION - input wrap */
    .user-details,
    .email,
    .password
        .input-wrap
            box-sizing()
            padding: 0 30px



    /* CONNECTED ACCOUNTS - acc-item */
    .acc-item
        flexbox()
        flex-flow: column nowrap
        box-sizing()
        padding: 10px 20px
        border-bottom: 1px solid rgba(66, 66, 66, 0.15)

        &:first-child
            padding-top: 30px
        &:last-child
            padding-bottom: 30px

        .acc-item__acc
            flexbox()
            flex-flow: row nowrap
            align-items: center

        .acc-item__image
            width: 30px
            margin-right: 20px

            svg
                width: 30px
                height: 30px
                fill: #000

        .acc-item__name
            flex: 1

        .acc-item__button
            color: colorPurple
            text-transform: uppercase

            &:hover
                color: colorBlack



        .acc-item__list
            flexbox()
            flex-flow: column nowrap
            margin-top: 10px

            div
                flexbox()
                flex-flow: row nowrap
                margin-top: 7px




    /* PROFILE COMPLETION - graph & steps */

    /* PIE Percentage ========== */
    .graph.percentage-0
        .graph__circle-out--left
            background: linear-gradient(90deg, colorLightPurple 50%, transparent 50%),linear-gradient(-270deg, colorPurple 50%, colorLightPurple 50%)
        .graph__circle-out--right
            background: linear-gradient(90deg, colorLightPurple 50%, transparent 50%), linear-gradient(-270deg, colorPurple 50%, transparent 50%)

    .graph.percentage-1
        .graph__circle-out--left
            background: linear-gradient(90deg, colorLightPurple 50%, transparent 50%),linear-gradient(-270deg, colorPurple 50%, colorLightPurple 50%)
        .graph__circle-out--right
            background: linear-gradient(90deg, colorLightPurple 50%, transparent 50%), linear-gradient(-234deg, colorPurple 50%, transparent 50%)

    .graph.percentage-2
        .graph__circle-out--left
            background: linear-gradient(90deg, colorLightPurple 50%, transparent 50%),linear-gradient(-270deg, colorPurple 50%, colorLightPurple 50%)
        .graph__circle-out--right
            background: linear-gradient(90deg, colorLightPurple 50%, transparent 50%), linear-gradient(-198deg, colorPurple 50%, transparent 50%)

    .graph.percentage-3
        .graph__circle-out--left
            background: linear-gradient(90deg, colorLightPurple 50%, transparent 50%),linear-gradient(-270deg, colorPurple 50%, colorLightPurple 50%)
        .graph__circle-out--right
            background: linear-gradient(90deg, colorLightPurple 50%, transparent 50%), linear-gradient(-162deg, colorPurple 50%, transparent 50%)

    .graph.percentage-4
        .graph__circle-out--left
            background: linear-gradient(90deg, colorLightPurple 50%, transparent 50%),linear-gradient(-270deg, colorPurple 50%, colorLightPurple 50%)
        .graph__circle-out--right
            background: linear-gradient(90deg, colorLightPurple 50%, transparent 50%), linear-gradient(-126deg, colorPurple 50%, transparent 50%)

    .graph.percentage-5
        .graph__circle-out--left
            background: linear-gradient(90deg, colorLightPurple 50%, transparent 50%),linear-gradient(-270deg, colorPurple 50%, colorLightPurple 50%)
        .graph__circle-out--right
            background: linear-gradient(90deg, colorLightPurple 50%, transparent 50%), linear-gradient(-90deg, colorPurple 50%, transparent 50%)

    .graph.percentage-6
        .graph__circle-out--left
            background: linear-gradient(126deg, colorLightPurple 50%, transparent 50%),linear-gradient(-270deg, colorPurple 50%, colorLightPurple 50%)
        .graph__circle-out--right
            background: linear-gradient(90deg, transparent 50%, transparent 50%), linear-gradient(-90deg, colorPurple 50%, transparent 50%)

    .graph.percentage-7
        .graph__circle-out--left
            background: linear-gradient(162deg, colorLightPurple 50%, transparent 50%),linear-gradient(-270deg, colorPurple 50%, colorLightPurple 50%)
        .graph__circle-out--right
            background: linear-gradient(90deg, transparent 50%, transparent 50%), linear-gradient(-90deg, colorPurple 50%, transparent 50%)

    .graph.percentage-8
        .graph__circle-out--left
            background: linear-gradient(198deg, colorLightPurple 50%, transparent 50%),linear-gradient(-270deg, colorPurple 50%, colorLightPurple 50%)
        .graph__circle-out--right
            background: linear-gradient(90deg, transparent 50%, transparent 50%), linear-gradient(-90deg, colorPurple 50%, transparent 50%)

    .graph.percentage-9
        .graph__circle-out--left
            background: linear-gradient(234deg, colorLightPurple 50%, transparent 50%),linear-gradient(-270deg, colorPurple 50%, colorLightPurple 50%)
        .graph__circle-out--right
            background: linear-gradient(90deg, transparent 50%, transparent 50%), linear-gradient(-90deg, colorPurple 50%, transparent 50%)

    .graph.percentage-10
        .graph__circle-out--left
            background: linear-gradient(270deg, colorLightPurple 50%, transparent 50%),linear-gradient(-270deg, colorPurple 50%, colorLightPurple 50%)
        .graph__circle-out--right
            background: linear-gradient(90deg, transparent 50%, transparent 50%), linear-gradient(-90deg, colorPurple 50%, transparent 50%)



    .graph
        min-width: 126px
        flexbox()
        flex-center()

        .graph__circle-in
            color: colorPurple
            font-size: 30px
            font-weight: 600

            flexbox()
            flex-center()
            width: 100px
            height: 100px
            box-sizing()
            border-radius(100%)
            background: colorWhite
            position: absolute
            margin-top: 5px
            z-index: 10

        .graph__circle-out--left,
        .graph__circle-out--right
            flexbox()
            flex-center()
            width: 110px
            height: 110px
            box-sizing()
            border-radius(100%)
            background: colorToggleBtnPassive
            margin-top: 10px

        .graph__circle-out--left
            position: relative
            background: linear-gradient(90deg, colorLightPurple 50%, transparent 50%), linear-gradient(-270deg, #7f3f98 50%, colorLightPurple 50%)

        .graph__circle-out--right
            position: absolute
            z-index: 1
            margin-top: 5px
            background: linear-gradient(90deg, colorLightPurple 50%, transparent 50%), linear-gradient(-270deg, #7f3f98 50%, transparent 50%)




    .steps ul
        margin-top: 20px

        li
            margin-bottom: 20px
            flexbox()
            flex-flow: row nowrap
            align-items: center
            color: colorGray

            &:before
                width: 20px
                height: 20px
                display: block
                content: ''
                background: url(../images/check.svg) center no-repeat
                background-size: 18px
                margin-right: 10px

            &:last-child
                margin-bottom: 0


/* NEED MORE RESOURCES - bars */

/* BARS Percentage */ 
.resource.percentage-1 
    .resource__top .resource__bar
        background: linear-gradient(90deg, #6cc781 10%, #d5d5d5 10%)
    .resource__bot .resource__num
        color: #6cc781
.resource.percentage-2
    .resource__top .resource__bar
        background: linear-gradient(90deg, #6cc781 20%, #d5d5d5 20%)
    .resource__bot .resource__num
        color: #6cc781
.resource.percentage-3
    .resource__top .resource__bar
        background: linear-gradient(90deg, #6cc781 30%, #d5d5d5 30%)
    .resource__bot .resource__num
        color: #6cc781
.resource.percentage-4
    .resource__top .resource__bar
        background: linear-gradient(90deg, #6cc781 40%, #d5d5d5 40%)
    .resource__bot .resource__num
        color: #6cc781
.resource.percentage-5
    .resource__top .resource__bar
        background: linear-gradient(90deg, #ffe600 50%, #d5d5d5 50%)
    .resource__bot .resource__num
        color: #ecd501
.resource.percentage-6
    .resource__top .resource__bar
        background: linear-gradient(90deg, #ffe600 60%, #d5d5d5 60%)
    .resource__bot .resource__num
        color: #ecd501
.resource.percentage-7
    .resource__top .resource__bar
        background: linear-gradient(90deg, #ffe600 70%, #d5d5d5 70%)
    .resource__bot .resource__num
        color: #ecd501
.resource.percentage-8
    .resource__top .resource__bar
        background: linear-gradient(90deg, #ffe600 80%, #d5d5d5 80%)
    .resource__bot .resource__num
        color: #ecd501
.resource.percentage-9
    .resource__top .resource__bar
        background: linear-gradient(90deg, #e53934 90%, #d5d5d5 90%)
    .resource__bot .resource__num
        color: #e53934
.resource.percentage-10
    .resource__top .resource__bar
        background: linear-gradient(90deg, #e53934 100%, #d5d5d5 0%)
    .resource__bot .resource__num
        color: #e53934



.resource
    flexbox()
    flex-flow: column nowrap
    width: 100%
    margin-top: 20px


    /* Top */
    .resource__top
        padding: 5px 0

        .resource__bar
            width: 100%
            height: 5px
            background: colorToggleBtnPassive

    /* Bot */
    .resource__bot
        width: 100%
        flexbox()
        flex-flow: row nowrap
        justify-content: space-between
        align-items: center
        font-size: 12px

        .resource__num
            color: colorGray

        .resource__name
            color: colorGray2








    /* DELETE YOUR ACCOUNT */
    .card.delete

        span,
        p
            font-size: 16px
            font-weight: 400

        span
            color: colorGray2-05
            font-style: italic
        p
            color: colorGray2
            margin-top: 30px

