/* DOMAINS.STYL ======================================= */

.main.custom-domains
    .main__row .main__row-item
        width: 100%


    .card__section.row.border-top
        flex-flow: row wrap

    /* Bottom margin for multiple cols in Domain row 
    .card-wrap .card .card-col:not(:last-child)
        margin: 0 30px 30px 0
    */


/* New Custom Domain */
.new-custom-domain
    position: relative
    flexbox()
    flex-center()
    min-height: 134px

    .card__section:last-child
        padding: 0 20px 20px 20px

    .card__section.row.border-top

        .card-col
            width: 25%
            margin-right: 0
            box-sizing()
            padding: 0 10px

            .input-wrap
                width: 100%


    .ncd-title
        flexbox()
        flex-center()
        width: 100%
        height: 134px
        color: colorPurple
        font-weight: 400
        font-size: 30px
        cursor: pointer


    .ncd-wrap
        display: none
        width: 100%