/* HEADER.STYL ======================================= */

#header
    position: relative
    width: 100%
    box-shadow(shadowLvl2)
    z-index: 10
    background: colorWhite


.header
    flexbox()
    flex-flow: row nowrap
    align-items: center
    justify-content: space-between
    height: 80px
    background: colorWhite

    .header__dashboard
        font-size: 20px
        font-weight: 400

    .header__search
        width: 600px
        height: 48px
        margin: 0 20px

    .header__user
        width: 50px
        height: 50px
        border-radius(100%)
        background: colorLightPurple url("../images/profile.jpg") center no-repeat
        background-size: 50px 50px
        cursor: pointer
        position: relative




.mobile-header
    flexbox()
    flex-flow: row nowrap
    align-items: center
    height: 50px
    background: colorWhite
    display: none

    .mobile-header__btn
        width: 50px
        height: 50px
        flexbox()
        flex-center()

        &:first-child svg
            width: 20px
            height: 20px
        &:last-child svg
            width: 16px
            height: 16px

    .mobile-header__title
        flex: 1
        font-size: 20px
        font-weight: 400
        color: colorDarkGray
        padding-left: 15px
        ellipsis()

    .mobile-nav-profile
        width: 30px
        height: 30px
        border-radius(100%)
        background: colorLightPurple url("../images/profile.jpg") center no-repeat
        background-size: 30px 30px
        cursor: pointer
        position: relative
