/* HEADER.STYL ======================================= */

#header
    position: relative
    width: 100%
    box-shadow(shadowLvl2)
    z-index: 10


.header
    flexbox()
    flex-flow: row nowrap
    align-items: center
    justify-content: space-between
    height: 80px
    background: #fff

    .header__dashboard
        font-size: 20px
        font-weight: 400

    .header__search
        width: 600px
        height: 48px
        margin: 0 20px

    .header__user
        width: 50px
        height: 50px
        border-radius(100%)
        background: colorLightPurple url("../images/profile.jpg") center no-repeat
        background-size: 50px 50px
        cursor: pointer








/* SEARCH-RESULTS.STYL ======================================= */
.main.search-results
    padding: 0 5% 30px 5%

    .main__row .main__row-item
        width: 100%



// Search List
.search-list
    background: colorWhite
    box-shadow(shadowLvl1)
    border-radius(2px)
    flexbox()
    flex-flow: column nowrap
    position: relative
    overflow-x: hidden
    overflow-y: auto
    min-height: 50px
    max-height: 200px
    margin-bottom: 50px

    .search-list-item
        height: 50px
        line-height: 50px
        padding-left: 60px
        color: colorGray2
        font-size: 16px
        font-weight: 400
        background: url("../images/find.png") 15px 15px no-repeat
        background-size: 20px 20px
        cursor: pointer

        &:hover
            background-color: colorLighterGray