/* PROJECTS.STYL ======================================= */

.main.projects
    flexbox()
    flex-flow: column nowrap


    /* overwrite ***************/
    
    /* same card height */
    .card-wrap
        height: calc(100% - 30px)

        .card
            height: 100%

    /* project name in card - padding reduced */
    .card.project
        .card__section
            padding: 20px
    /* /overwrite ***************/


    .plan-info
        .card-title3:not(:first-child)
            margin-top: 30px

        .row
            margin: 0 20px


    .new-project
        flexbox()
        flex-center()

        &:hover
            cursor: pointer

        span
            color: colorPurple
            font-size: 22px
            font-weight: 400
            text-transform: capitalize


    .card.project

        .m-top
            margin-top: 20px

        .card__section
            .row
                margin-bottom: 20px
                color: colorGray2


