/* SHARES.STYL ======================================= */

.shared-with-me,
.my-shares,
.ssh-keys,
.custom-stacks
    .main__row
        width: 100%
        display: block

        .main__row-item
            display: inline-block

            &:nth-child(2n)
                margin-left: 25px


    .card .card__section
        padding: 20px

    
