/* STACKS.STYL ======================================= */

.custom-stacks .card

    .m-top
        margin-top: 20px

    .card__section.col.border-top
        .row
            margin-bottom: 20px
            color: colorGray2
            line-height: 16px
            font-size: 14px
            ellipsis()