/* COLOR-PALETE.STYL ======================================= */

color0 = transparent
colorBlack = #000
colorBlack03 = rgba(0, 0, 0, 0.3)
colorBlack06 = rgba(0, 0, 0, 0.6)
colorWhite = #fff
colorWhite03 = rgba(255, 255, 255, 0.3)
colorWhite06 = rgba(255, 255, 255, 0.6)

colorDarkGray = #40404C

colorBlue = #32a1d8
colorDarkBlue = #151F2B
colorDarkerBlue = #0c1218

colorGray = #7E7E88
colorGray03 = rgba(126, 126, 136, 0.3)
colorLightGray = #B0B0BA

colorGrayNew = #898989

colorGreen = #6ABF21
colorRed = #D0011B

