/* VARIABLES.STYL ======================================= */

/* Default Font */
font1 = 'Open Sans', sans-serif


/* FONT SIZES ======================================= */
fontSize1 = 21px
fontSize2 = 18px

fontH1 = 56px
fontH3 = 21px

fontJumbo = 64px
fontTextbox = 38px
fontTextboxSmall = 21px
fontNumber = 21px

fontButton = 18px

fontGraySmall = 15px

fontInput = 21px





