<div class="card-wrap">
  <h1>Account information</h1>
  <div class="card information">
    <div class="card__section col">
      <!--/user -->
      <div class="user">
        <div class="user__image">
          <img src="{{user-image}}">
          <a href="#">Edit photo</a>
        </div>
        <div class="user__details">
          <div class="user__name">
            <span class="title--large">{{user-name}}</span>
          </div>
          <div class="user__email">
            <span>{{user-email}}</span>
          </div>
          <div class="user__company">
            <span>{{user-company}}</span>
          </div>
        </div>
      </div>
      <!--/user-details -->
      <div class="user-details">
        <div class="input-wrap first-name">
          <div class="mui-input">
            <div class="group">
              <input name="" required="" type="text"></input>
              <span class="bar"></span>
              <label>First name</label>
            </div>
            <span class="error"></span>
          </div>
        </div>
        <div class="input-wrap last-name">
          <div class="mui-input">
            <div class="group">
              <input name="" required="" type="text"></input>
              <span class="bar"></span>
              <label>Last name</label>
            </div>
            <span class="error"></span>
          </div>
        </div>
        <div class="input-wrap company">
          <div class="mui-input">
            <div class="group">
              <input name="" required="" type="text"></input>
              <span class="bar"></span>
              <label>Company</label>
            </div>
            <span class="error"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="card__section col border-top">
      <div class="email">
        <span class="title--gray">Update email address</span>
        <div class="input-wrap new-email">
          <div class="mui-input">
            <div class="group">
              <input name="" required="" type="text"></input>
              <span class="bar"></span>
              <label>New email address</label>
            </div>
            <span class="error"></span>
          </div>
        </div>
        <div class="input-wrap repeat-email">
          <div class="mui-input">
            <div class="group">
              <input name="" required="" type="text"></input>
              <span class="bar"></span>
              <label>Please enter passowrd to confirm</label>
            </div>
            <span class="error"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="card__section">
      <div class="card-footer">
        <a class="btn btn--transparent1" href="#">Cancel</a>
        <a class="btn btn--transparent1" href="#">Save</a>
      </div>
    </div>
  </div>
</div>
