<div class="card-wrap">
  <h1>Change passowrd?</h1>
  <div class="card password">
    <div class="card__section col">
      <div class="input-wrap old-pass">
        <div class="mui-input">
          <div class="group">
            <input name="" required="" type="text"></input>
            <span class="bar"></span>
            <label>Old password</label>
          </div>
          <span class="error"></span>
        </div>
      </div>
      <div class="input-wrap new-pass">
        <div class="mui-input">
          <div class="group">
            <input name="" required="" type="text"></input>
            <span class="bar"></span>
            <label>New password</label>
          </div>
          <span class="error"></span>
        </div>
      </div>
      <div class="input-wrap repeat-pass">
        <div class="mui-input">
          <div class="group">
            <input name="" required="" type="text"></input>
            <span class="bar"></span>
            <label>Confirm new password</label>
          </div>
          <span class="error"></span>
        </div>
      </div>
    </div>
    <div class="card__section">
      <div class="card-footer">
        <a class="btn btn--transparent1" href="#">Change</a>
      </div>
    </div>
  </div>
</div>
