<div class="card-wrap">
  <h1>Delete your account?</h1>
  <div class="card delete">
    <div class="card__section col">
      <span>This action is permanent and cannot be undone!</span>
      <p>Are you sure?</p>
    </div>
    <div class="card__section">
      <div class="card-footer">
        <a class="btn btn--red" href="#">Delete</a>
      </div>
    </div>
  </div>
</div>
